 <ion-content class="ion-padding ionBg">
 
 <!-- BreadCrumb Start -->
 <div class="breadcrumb">
  <label class="breadcrumb_txt">Track Policy</label>
  <img class="arrow_icon" src="../../../../assets/icon/ion-arrow.png" alt="">
  <label class="breadcrumb_txt">Deferment</label>
</div>

<!-- BreadCrumb End -->

<div class="dtTblCon" style="margin-top: 20px;">
  <table datatable class="row-border hover tuneTbl">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Master Contract  No / Product</th>
        <th>Proposed Name</th>
        <th>Insured Name</th>
        <th>Relation</th>
        <th>NRIC</th>
        <th>Profile</th>
        <th>Register Claim</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>2</td>
         <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>3</td>
         <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>4</td>
         <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>5</td>
         <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>6</td>
         <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>7</td>
         <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>8</td>
         <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>9</td>
         <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>10</td>
        <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>11</td>
         <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
      <tr>
        <td>12</td>
        <td>BGDP221000006-00-000 General Practitoner</td>
        <td>ABCD Product</td>
        <td>ABCD Insured (3472079)</td>
        <td>Individual</td>
        <td>QWRE5TB</td>
        <td><i class="fa fa-user"></i></td>
        <td><i class="fa fa-arrows-turn-right"></i></td>
      </tr>
    </tbody>
  </table>
</div>


</ion-content>