
<ion-content class="ion-padding ionBg">
  <!-- BreadCrumb Start -->
  <div class="breadcrumb">
    <label class="breadcrumb_txt">Track Claim</label>
    <img class="arrow_icon" src="../../../../assets/icon/ion-arrow.png" alt="">
    <label class="breadcrumb_txt">Deferment</label>
  </div>

<ion-grid>
  <div class="con_tblcon">
    <div class="dtTblCon" style="margin-top: 20px;">
      <!-- datatable [dtOptions]="dtoptions" -->
      <table class="row-border hover tuneTbl">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Name</th>
            <th>Raised Date </th>
            <th>Upload Document</th>
            <th>Date & Time</th>
            
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td>Death Certificate</td>
            <td>10/12/23</td>
            <td> ABCD Document Name</td>
            <td>10/11/2023(11:25)</td>
           </tr>
          <tr >
            <td>2</td>
            <td>Life Assured IC/password</td>
            <td>10/12/23</td>
            <td> ABCD Document Name</td>
            <td>10/11/2023(11:25)</td>
           </tr>
          <tr >
            <td>3</td>
            <td>Attending doctors Statement</td>
            <td>10/12/23</td>
            <td> ABCD Document Name</td>
            <td>10/11/2023(11:25)</td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-grid>



</ion-content>