<ion-content class="ion-padding ionBg">
  <!-- BreadCrumb Start -->
  <div class="breadcrumb">
    <label class="breadcrumb_txt"><i class="fa-solid fa-house home-icon"></i> Home</label>
  </div>

  <!-- BreadCrumb End -->
  <ion-grid>
    <div class="policyCardContainer">
      <div class="policyCard" *ngFor="let proposalData of proposalData">
        <div class="main_policy_bx">
          <div class="d_flex ion-justify-content-between">
            <div class="header_txt">
              <span>{{ proposalData.Proposal_No}}</span>
            </div>
            <div class="icon_con">
              <div class="circle_con">
                <div class="second_circle tooltip" (click)="insured_det(polBtn.value, polBtn1.value)">
                  <input type="button" hidden [value]="proposalData.Policy_Id" #polBtn>
                  <input type="button" hidden [value]="proposalData.PolicyVersion_Id" #polBtn1>
                  <div class="svg_icon">
                    <svg class="svg_scale" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                      viewBox="0 0 24 24">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2.5" d="m10 17l5-5m0 0l-5-5" />
                    </svg>
                    <span class="tooltiptext">Insured details</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="policy_dtls_con ion-padding">
            <div class="ion-margin-top">
              <div class="card_content">
                <div class="card_label_con">
                  <span>Insured Name</span>
                </div>
                <div class="card_inpt_con">
                  <span> {{clientData.Full_Nm}}</span>
                </div>
              </div>
              <div class="card_content">
                <div class="card_label_con">
                  <span>Policy Status</span>
                </div>
                <div class="card_inpt_con">
                  <span>{{proposalData.Status_Nm}}</span>
                </div>
              </div>
              <div class="card_content">
                <div class="card_label_con">
                  <span>Start Date</span>
                </div>
                <div class="card_inpt_con">
                  <span>{{proposalData.Policy_Start_Dt | date: 'yyyy-MM-dd' }}</span>
                </div>
              </div>
              <div class="card_content">
                <div class="card_label_con">
                  <span>Expiry Date</span>
                </div>
                <div class="card_inpt_con">
                  <span>{{proposalData.Policy_End_Dt | date: 'yyyy-MM-dd' }}</span>
                </div>
              </div>
              <ion-row class="disp_flex">
                <button class="cust_submit_btn" role="button" (click)="sendData(policyIdBtn.value)" #policyIdBtn
                  value={{proposalData.Policy_Id}}>Policy details</button>
                <!-- next_page()  -->
                <button class="cust_submit_btn" role="button">Document</button>
              </ion-row>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>