<ion-content class="ion-padding ionBg">
  <div class="display_card">
    <ion-card mode="ios" class="card_con_one">
      <ion-card-header class="card_head">
        <ion-card-title class="card_title">Personal Details</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-margin-top">
        <div class="card_content">
          <div class="card_label_con">
            <span>Insured Name</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="Saif Ahmed Siddiqui" class="transpt_inpt" />
          </div>
        </div>
        <div class="card_content">
          <div class="card_label_con">
            <span>Date of Birth</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="15-10-1997" class="transpt_inpt" />
          </div>
        </div>
        <div class="card_content">
          <div class="card_label_con">
            <span>Gender</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="Male" class="transpt_inpt" />
          </div>
        </div>
        <div class="card_content">
          <div class="card_label_con">
            <span>Relation</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="Primary Member" class="transpt_inpt" />
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card_con_one">
      <ion-card-header class="card_head">
        <ion-card-title class="card_title">Policy Details</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-margin-top">
        <div class="card_content">
          <div class="card_label_con">
            <span>Policy No</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="BGDP221000006-00-000" class="transpt_inpt" />
          </div>
        </div>
        <div class="card_content">
          <div class="card_label_con">
            <span>NRIC No./FIN</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="986534347" class="transpt_inpt" />
          </div>
        </div>
        <div class="card_content">
          <div class="card_label_con">
            <span>Start Date</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="26-07-2022" class="transpt_inpt" />
          </div>
        </div>
        <div class="card_content">
          <div class="card_label_con">
            <span>End Date</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="25-07-2023" class="transpt_inpt" />
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card_con_one">
      <ion-card-header class="card_head">
        <ion-card-title class="card_title">Policy Details</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-margin-top">
        <div class="card_content">
          <div class="card_label_con">
            <span>Policy No</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="BGDP221000006-00-000" class="transpt_inpt" />
          </div>
        </div>
        <div class="card_content">
          <div class="card_label_con">
            <span>NRIC No./FIN</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="986534347" class="transpt_inpt" />
          </div>
        </div>
        <div class="card_content">
          <div class="card_label_con">
            <span>Start Date</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="26-07-2022" class="transpt_inpt" />
          </div>
        </div>
        <div class="card_content">
          <div class="card_label_con">
            <span>End Date</span>
          </div>
          <div class="card_inpt_con">
            <input type="text" value="25-07-2023" class="transpt_inpt" />
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>