<ion-content class="ion-padding ionBg">
  <!-- Breadcrumb Start -->
  <div class="breadcrumb">
    <span (click)="home_page()"><i class="fa-solid fa-house home-icon"></i></span>
    <img class="arrow_icon" src="../../../../assets/icon/ion-arrow.png" alt="">
    <label class="breadcrumb_txt" (click)="before_pg()">Policy Details</label>
    <img class="arrow_icon" src="../../../../assets/icon/ion-arrow.png" alt="">
    <label class="breadcrumb_txt">Life Assured Profile</label>
  </div>
  <!-- Breadcrumb End -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="display_card">
          <ion-card mode="ios" class="card_con_one">
            <ion-card-header class="card_head">
              <ion-card-title class="card_title">Personal Details</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-margin-top">
              <div class="card_content">
                <div class="card_label_con">
                  <span>Insured Name</span>
                </div>
                <div class="card_inpt_con">
                  <input type="text" value={{assuredDetails.InsuredName}} class="transpt_inpt" />
                </div>
              </div>
              <div class="card_content">
                <div class="card_label_con">
                  <span>Date of Birth</span>
                </div>
                <div class="card_inpt_con">
                  <input type="text" value={{assuredDetails.Dob}} class="transpt_inpt" />
                </div>
              </div>
              <div class="card_content">
                <div class="card_label_con">
                  <span>Gender</span>
                </div>
                <div class="card_inpt_con">
                  <input type="text" value={{assuredDetails.Gender}} class="transpt_inpt" />
                </div>
              </div>
              <div class="card_content">
                <div class="card_label_con">
                  <span>Relation</span>
                </div>
                <div class="card_inpt_con">
                  <input type="text" value={{assuredDetails.Realtion}} class="transpt_inpt" />
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card mode="ios" class="card_con_one">
            <ion-card-header class="card_head">
              <ion-card-title class="card_title">Policy Details</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-margin-top">
              <div class="card_content">
                <div class="card_label_con">
                  <span>Policy No</span>
                </div>
                <div class="card_inpt_con">
                  <input type="text" value={{assuredPolicyDetails.Policy_No}} class="transpt_inpt" />
                </div>
              </div>
              <div class="card_content">
                <div class="card_label_con">
                  <span>NRIC No./FIN</span>
                </div>
                <div class="card_inpt_con">
                  <input type="text" value={{assuredDetails.NricNo}} class="transpt_inpt" />
                </div>
              </div>
              <div class="card_content">
                <div class="card_label_con">
                  <span>Start Date</span>
                </div>
                <div class="card_inpt_con">
                  <input type="text" value={{assuredPolicyDetails.Policy_Start_Dt}} class="transpt_inpt" />
                </div>
              </div>
              <div class="card_content">
                <div class="card_label_con">
                  <span>End Date</span>
                </div>
                <div class="card_inpt_con">
                  <input type="text" value={{assuredPolicyDetails.Policy_End_Dt}} class="transpt_inpt" />
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- form INPT Start -->
  <div class="main_form">
    <ion-accordion-group [value]="['five']">
      <ion-accordion value="five" toggleIcon="caret-down-outline" toggleIconSlot="end">
        <ion-item class="ion_item" slot="header" style=" --color: #fff; --border-radius:8px 8px 0 0;" color="medium">
          <ion-label>Select Plan</ion-label>
        </ion-item>
        <div class="ion-padding bg_card" slot="content">
          <form action="">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <div class="form_group">
                    <ion-grid>
                      <ion-row>
                        <ion-col size-md="3" size-sm="12" size-xs="12" class="ionColBottomGap">
                          <label class="lbl_txt">Select Product</label>
                          <div style="margin-top: 3px;">
                            <select class="custom-dropdown">
                              <option value="A">Bank A</option>
                              <option value="B">Bank B</option>
                              <option value="C">Bank C</option>
                            </select>
                          </div>
                        </ion-col>
                        <ion-col size-md="3" size-sm="12" size-xs="12" class="ionColBottomGap">
                          <label class="lbl_txt">Select Coverage Type</label>
                          <div>
                            <input class="inpt_txt" type="text" name="" id="" />
                          </div>
                        </ion-col>
                        <ion-col size-md="3" size-sm="12" size-xs="12" class="ionColBottomGap">
                          <label class="lbl_txt">Premium budget</label>
                          <div>
                            <input class="inpt_txt" type="text" name="" id="" value="14.30" />
                          </div>
                        </ion-col>
                      </ion-row>
                      <!-- Range Picker Start -->
                      <div class="ion-padding">
                        <ion-range aria-label="Custom range" [min]="0" [max]="11" [value]="0" [ticks]="true"
                          [snaps]="true" mode="md"></ion-range>
                        <div class="nos_slider">
                          <span>0</span>
                          <span>100</span>
                          <span>200</span>
                          <span>300</span>
                          <span>400</span>
                          <span>500</span>
                          <span>600</span>
                          <span>700</span>
                          <span>800</span>
                          <span>900</span>
                          <span>1000</span>
                        </div>
                      </div>
                      <!-- Range Picker End -->
                      <ion-row>
                        <ion-col>
                          <span class="cust-lbl ">Sum Assured</span>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <!-- Range Picker Start -->
                          <div class="ion-padding">
                            <ion-range aria-label="Custom range" [min]="0" [max]="6" [value]="0" [ticks]="true"
                              [snaps]="true" mode="md"></ion-range>
                            <div class="nos_slider">
                              <span>1500</span>
                              <span>2000</span>
                              <span>3000</span>
                              <span>3500</span>
                              <span>400</span>
                              <span>6000</span>
                            </div>
                          </div>
                          <!-- Range Picker End -->
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <!-- form INPT End -->





</ion-content>