<ion-content class="ion-padding ionBg">
  <div class="breadcrumb">
    <label class="breadcrumb_txt">Track Policy</label>
    <img class="arrow_icon" src="../../../../assets/icon/ion-arrow.png" alt="">
    <label class="breadcrumb_txt">Life Assured profile</label>
  </div>
  <ion-grid>
    <ion-row >
      <ion-col>
        <div class="main_policy_bx">
          <div class="d_flex ion-justify-content-between">
             <div class="header_txt"> 
               <span>Health Declaration</span> 
              </div> 
          </div>
          <div class="policy_dtls_con ion-padding">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <span class="sub-txt">Are there Changes to any of the 3 underwriting questions below which you have
                    previously answered "No"? </span>
                </ion-col>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-col size="auto">
                  <span>1.</span>
                </ion-col>
                <ion-col>
                  <span class="custom-text">Do you currently suffer from, or have ever been diagnosed with cancer,
                    growth/tumor, chest pain, heart attack, stroke,
                    high blood pressure, diabetes, Hepatitis B or C, HIV infection, mental disorders, drug or alcohol
                    abuse, any disease/disorder
                    of eyes, ears, nose, throat, oral cavity, skin, bone, spine, joint, blood vessels, congenital
                    conditions, any physical
                    disability or any condition of the heart, lungs, liver, kidneys, respiratory system, genitourinary
                    system, digestive
                    system, endocrine system or nervous system?
                  </span>
                </ion-col>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-col size="auto">
                  <span>2.</span>
                </ion-col>
                <ion-col>
                  <span class="custom-text">In the last 2 years, have you ever been hospitalized (except for giving
                    birth), undergone any surgical operation,
                    consulted a specialist or had an abnormal result from a medical investigation or diagnostic test or
                    been advised to have
                    any of these in the future, or are you currently planning or been advised, to consult a doctor or
                    undergoing investigation
                    or awaiting the results of medical tests or follow up?
                  </span>
                </ion-col>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-col size="auto">
                  <span>3.</span>
                </ion-col>
                <ion-col>
                  <span class="custom-text">
                    Have any of your applications for insurance/takaful coverage, including renewal or reinstatement,
                    ever been declined, postponed, rated up or accepted on special terms by any insurance
                    company/takaful operator?
                  </span>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="btn-container">
              <div class="radio-toolbar">
                <input type="radio" id="radio1" name="radios" value="yes" checked>
                <label for="radio1">Yes</label>
                <div style="margin-left: 12px;text-align: center;"></div>
                <input type="radio" id="radio2" name="radios" value="NO">
                <label for="radio2">NO</label>
              </div>
            </div>
            <div class="center-container">
              <button class="cust_submit_btn" role="button">Save</button>
            </div>
          </div>
        </div>
             </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>